# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.cache
*.dll
*.exe
*.pdb

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Cache files
*.cache
*.AssemblyReference.cache
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
tests/**/obj/
tests/**/bin/
tests/**/*.cache
tests/**/*.dgspec.json
tests/**/*.g.props
tests/**/*.g.targets
tests/**/Debug/
tests/**/Release/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml
